@font-face {
  font-family: 'DosFont';
  src: url(./Assets/Fonts/DOSFont.ttf);
}

@font-face {
  font-family: 'IconFonts';
  src: url(./Assets/Fonts/iconFonts.ttf);
}

:root {
  --background-text: black;
  --accent-color: #FF00FF;
  --background-color: rgb(102, 51, 153);


  --EOTM-color: rgb(0, 183, 255);
  --itch-color: rgb(255, 0, 0);
  --github-color: rgb(0, 255, 0);
  --contact-color: yellow;
  --background-image: url(Assets/Images/background.gif)
}

body {
  font-family: "DosFont";
  background-color: rgb(0, 0, 0);
  color: white;
}

#background-image {
  z-index: -1;
  background: linear-gradient(20deg, var(--background-color), transparent), var(--background-image);   
  filter: contrast(2000%) brightness(1000%);
  background-size:contain;

  position: absolute;
  top:0; left:0;
  width: 100%;
  height: 100%;
}

#cover-image {
  z-index: -1;
  background: linear-gradient(20deg, var(--background-color), transparent), url(Assets/Images/background.gif);   
  filter: contrast(2000%) brightness(1000%);
  background-size: contain;
  position: absolute;
  top:0; left:0;
  width: 100%;
  height: 100%;
}


#top-section {
  margin-left: 1em;
}

.icon-text {
  font-style: IconFonts !important;
}

.text-background{
  background-color: var(--background-text);
  width: max-content;
  text-shadow: .05em .05em var(--accent-color);
  filter: drop-shadow(.3em .3em 0 var(--accent-color));

}

.text-background:hover{
  background-color: var(--accent-color);
  text-shadow: .05em .05em var(--background-text);
  filter: drop-shadow(.3em .3em 0 var(--background-text));
  scale: 1.1;
}


h1 {
  font-size: 3em;
}



.grid {
	display: grid;
  justify-content: center;
  align-content: center;
	place-items: center;
	gap: 1em;
	/* The fact is that it only takes this one line of code to do a nice grid makes me want to vommit joy */
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));

}

.card {
	display: flex;
  flex-direction: column;
  padding: 1em;
	width: 15em;
  background-color: rgb(0, 0, 0);
  margin: 3em;
  filter: drop-shadow(.3em -.3em 0 var(--accent-color));

}

.card legend {
  margin: auto; /* to center */
}
.card h2 {
  font-size: 2em;

  position: relative;
  right: 1em;
  bottom:1em;
  margin: 0;
  padding: 0;
}

.card legend {
  background-color: white;
  width: max-content;
  color: black;
  font-style: bold;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4em;

}

.card img:hover {
  scale: 1.1;
  transform: rotate(2deg);
  cursor: help;
  background: url("images/card-front.jpg") no-repeat;
}

.card a {
  background-color: var(--background-text);
  width: max-content;
  color: var(--accent-color);
}

.card li {
  list-style-type: square;
}

.card p {
  background-color: var(--background-text);
}


.space-padding{
  padding: 1em;
}