body {
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0;
    background-image: url('Assets/Images/tiledimage.gif');
    background-repeat: repeat;
    background-size: auto;
    animation: scroll 20s linear infinite;
}

header {
    text-align: center;
    background-color: #ffffff9f; /* Optional */
    padding: 20px;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8vw;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

header h2 {
    font-size: 1vw;
    padding: 0;
    padding: 0;

    margin: 0;
    white-space: nowrap;
}

section {
    padding: 20px;
    text-align: center;
}

.game {
    display: block;
    margin: 10px auto;
    padding: 10px;

    text-align: center;
    max-width: 600px; /* Increased to fit iframe */
}

.game img {
  width: 100%;
}

.game img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.person img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.person {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff9f; /* Optional */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional shadow */
    text-align: center;
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
