body {
    font-family: 'DM Serif Text', serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Assets/Images/tiledimage.gif');
    background-repeat: repeat;
    background-size: auto;
    z-index: -1;
    transition: filter 0.5s ease;
}

.hue-shift::before {
    filter: hue-rotate(180deg);
}

body::before {
    animation: scroll 20s linear infinite;
}

header {
    text-align: center;
    font-family: 'DM Serif Text', serif;
    background-color: #ffea00; 
    border-bottom: 5px solid #c74b05;
    color: #c74b05;

    text-shadow: 2px 2px #9b3a02;
    padding: 20px;
}

#people {
    color: black;
    margin-top: auto;


}

header h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 6em;
    padding: 0;
    margin: 0;
}

header h2 {
    font-size: 1em;
    padding: 0;
    padding: 0;
    
    margin: 0;
    white-space: nowrap;
}

#people h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 3em;
    padding: 0;
    margin: 0;
}

section {
    text-align: center;
}

.game {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 1800px;

}

.game img {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    transform: scale(1);

    transition: transform 0.3s ease;
}

.game img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.person img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.person {

    
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {position: fixed; bottom: 0; left:0; width:100%;
        background-position: 100% 100%;
    }
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
    pointer-events: none;
}


.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}


.grainy-background
{
  filter: contrast(100%) brightness(100%);
  background: 
	linear-gradient(180deg, rgba(199,75,5,1), rgba(255,237,0,1))
}